:root{
    --white: #F7F8FC;
    --black: #32353E;
    --blue: #B1C8EA;
    --blue2: #77A0F2;
    --green: #9FBE22;
    --green2: #acce24;
    --green3: #8eaa1f;
    --yellow: #F0D233;
}

.dark{
    --black: #fff;
    --white: #111638;
    --black2: #1a155e;
    --red: #710101;
    --pink: #de5688;
    --purple: #932aab;
    --green2:#09482d;
}

.parent {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    margin-top: 5vh;
    height: 81vh;

    }
    
    .div1 { 
        grid-area: 1 / 1 / 6 / 2;
        border-right: solid var(--black) 2px;
    }
    .div2 { 
        grid-area: 1 / 2 / 6 / 6;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

.menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.menu a{
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 13em;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green);
}

.photo{
    margin-right: 3em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.photo img{
    width: 90px;
    height: auto;
    margin-right: 10px;
}

.photo i{
    color: var(--green);
}

.identity{
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin-bottom: 6%;
}

.personal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--black);
}

.personal span{
    font-weight: 500;
}

.modify{
    position: fixed;
    bottom: 4vh;
    right: 2vw; 
}

.complementary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--black);
    height: 3.5em;
    margin-bottom: 6%;
}

.complementary span{
    font-weight: 500;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mark{
    height: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modify button{
    width: 10em;
    height: 3em;
    border: none;
    color: white;
    background-color: var(--green);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.modify button:hover{
    background-color: var(--green2);
}

.modify button:active{
    background-color: var(--green3);
}

