@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #F7F8FC;
    --black2: #F7F8FC;
    --black: #32353E;
    --blue: #B1C8EA;
    --blue2: #77A0F2;
    --green: #9FBE22;
    --yellow: #F0D233;
/*    --black: #333;
    --green: #017143;
    --green2:#17aa34;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
    --red: #f23131;
    --pink: #ff78aa;
    --purple: #c663dd;*/
}

.dark{
    --black: #fff;
    --white: #111638;
    --black2: #32353E;
    --red: #710101;
    --pink: #de5688;
    --purple: #932aab;
    --green2:#09482d;
}

button {
    cursor: pointer;
  }

body{
    overflow-x: hidden;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0 100px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--black2);
    transition: background-color 1s;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
}

header .logo{
    position: relative;
    max-width: 70px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    display: flex;
    margin-left: 30px;
}

header ul li a{
    display: inline-block;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}


.darkMode{
    
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--black);
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.darkMode::before{
    content: '\f186';
    font-family: fontAwesome;
    color: var(--white);
    font-size: 20px;
}

.darkMode.active::before{
    content: '\f185';
}


@media (max-width: 991px){
    section{
        padding: 150px 20px 0 20px;
    }
    header{
        padding: 20px;
    }
    .navigation{
        
        display: none;
    }
    .navigation.active{
        transition: 700ms;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: var(--white);
        flex-direction: column;
    }
    header ul li{
        margin: 10px 0;
        margin-left: 0;
    }
    header ul li a{
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../ressources/menu.svg);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 55555555555;
    }
    .toggle.active{
        background: url(../ressources/close.svg);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 555555555555;
    }
    .dark .toggle{
        filter: invert(0%);
        -webkit-filter: invert(0%);
    }

}
