:root{
    --white: #F7F8FC;
    --black: #32353E;
    --blue: #B1C8EA;
    --blue2: #77A0F2;
    --green: #9FBE22;
    --yellow: #F0D233;
/*    --black: #333;
    --green: #017143;
    --green2:#17aa34;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
    --red: #f23131;
    --pink: #ff78aa;
    --purple: #c663dd;*/
}

.dark{
    --black: #fff;
    --white: #111638;
    --black2: #1a155e;
    --red: #710101;
    --pink: #de5688;
    --purple: #932aab;
    --green2:#09482d;
}

.main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.main h2{

    font-size: 4em;
    color: var(--black);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}


.main h2 span{
    
    font-size: 1.2em;
    color: var(--green);
}

.darkMode{
    
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--black);
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.darkMode::before{
    content: '\f186';
    font-family: fontAwesome;
    color: var(--white);
    font-size: 20px;
}

.darkMode.active::before{
    content: '\f185';
}

.search_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-width: 500px;
    border: solid 5px var(--green);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 4em;
}

.search_form input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 15px 20px;
    font-size: 16px;
    size: 400px;
    color: var(--black);
    outline: none;
  }

::placeholder {
    color: var(--black);
  }

  .search_form button {
    flex: 2;
    border: 0;
    background: transparent;
    border: none;
    
  }

  .btn{
    cursor: pointer;
    filter: invert(70%) sepia(52%) saturate(589%) hue-rotate(28deg) brightness(89%) contrast(98%);
  }



.result{
    display: none;
    flex-direction: column;
    list-style-type: none;
    width: 70%;
    padding: 15px;
    border: solid 3px var(--green);
    position:absolute;
    top: 300px;
    z-index: 55555;
    background-color: var(--white);
    border-radius: 10px;
    max-height: 20em;
    min-width: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.result::-webkit-scrollbar {
    display: none;
  }

.result ul{
    list-style-type: none;
}

.result li{
    padding: 5px;
    cursor: pointer
}

.result li:hover{
    background-color: #9fbe2284;
    border-radius: 5px;
}

.result hr{
    border-top: 2px solid var(--green);
}

.img{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 5%;
  justify-items: center;

}

.img img{
    width: 60%;
    height: auto;
}

@media (max-width: 630px){
    .main h2{
        font-size: 3em;
    }
}