:root{
    --white: #F7F8FC;
    --black: #32353E;
    --blue: #B1C8EA;
    --blue2: #77A0F2;
    --green: #9FBE22;
    --yellow: #F0D233;
/*    --black: #333;
    --green: #017143;
    --green2:#17aa34;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
    --red: #f23131;
    --pink: #ff78aa;
    --purple: #c663dd;*/
}

.dark{
    --black: #fff;
    --white: #111638;
    --black2: #1a155e;
    --red: #710101;
    --pink: #de5688;
    --purple: #932aab;
    --green2:#09482d;
}

.main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.main h2{

    font-size: 4em;
    color: var(--black);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}


.main h2 span{
    
    font-size: 1.2em;
    color: var(--green);
}

.darkMode{
    
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--black);
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.darkMode::before{
    content: '\f186';
    font-family: fontAwesome;
    color: var(--white);
    font-size: 20px;
}

.darkMode.active::before{
    content: '\f185';
}

.search_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-width: 600px;
    border: solid 5px var(--green);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.search_form input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 15px 20px;
    font-size: 16px;
    size: 400px;
    color: var(--black);
    outline: none;
  }

::placeholder {
    color: var(--black);
  }

  .search_form button {
    flex: 2;
    border: 0;
    background: transparent;
    border: none;
    
  }

  .btn{
    cursor: pointer;
    filter: invert(70%) sepia(52%) saturate(589%) hue-rotate(28deg) brightness(89%) contrast(98%);
  }

.carousel{
    position: relative;
}

.carousel .row{
    margin: 0 -1.5em;
}

.carousel .swiper{
    padding: 0 0 4em;
}

.carousel ul{
    display: flex;
    list-style: none;
}

.carousel img{
    width: 304px;
    height: 203px;
}

.carousel ul li{
    padding: 0 1.5em;
}

.carousel .sport{
    position: relative;
    background-color: red;
    padding: 1.5em;
    border-radius: 15px;
}

.carousel .sport .detail{
    padding-right: 110px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 11em;
    left: 2.5em;
    width: calc(100% - 3em);
}

.detail h3{
    color: white;
}

.carousel .sport .minia{
    position: relative;
    width: 290px;
    height: auto;
    margin-left: auto;
}

.carousel .dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .dots span{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: block;
    position: relative;
    background-color: rgb(202, 202, 202);
    border: 10px solid var(--white);
    outline: 0;
    opacity: 1;
}

.carousel .dots span.current{
    width: 50px;
    background-color: var(--green);
    transition: width .3s, background-color .3s;
}