:root{
    --white: #F7F8FC;
    --black: #32353E;
    --blue: #B1C8EA;
    --blue2: #77A0F2;
    --green: #9FBE22;
    --green2: #acce24;
    --green3: #8eaa1f;
    --yellow: #F0D233;
}

.dark{
    --black: #fff;
    --white: #111638;
    --black2: #1a155e;
    --red: #710101;
    --pink: #de5688;
    --purple: #932aab;
    --green2:#09482d;
}

.parent {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    margin-top: 5vh;

    }
    
    .div1 { 
        grid-area: 1 / 1 / 6 / 2;
        border-right: solid var(--black) 2px;
    }
    .div2 { 
        grid-area: 1 / 2 / 6 / 6;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

.menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.menu a{
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 13em;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green);
}

.add{
    display: flex;
}

.add img{
    width: 30px;
    height: auto;
    margin-left: auto;
    cursor: pointer;
    margin-right: 12%;
}

.card_event{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    border: 4px solid var(--blue2);
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 2.5em;
}

.card_event{
    font-size: 16px;
    color: var(--black);
}

.card_event select{
    font-size: 16px;
    color: var(--black);
}

.card_event input{
    border: solid 3px var(--blue2);
    font-size: 16px;
    background: none;
    padding: 0.5em 1em;
    border-radius: 12px;
}

.card_event input:focus{
    outline: none;
}

.first{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px var(--blue2);
    border-radius: 10px;
    padding: 0 15px 0 0;
    width: 12em;
}

.number input {
    background: transparent;
    flex: 1;
    border: none;
    color: var(--black);
    outline: none;
    width: 5em;
}

.number span {
    border: none;
    background: transparent;   
}

.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px var(--blue2);
    border-radius: 10px;
    padding: 0 15px 0 0;
}

.price input {
    background: transparent;
    flex: 1;
    border: none;
    color: var(--black);
    outline: none;
    width: 5em;
}

.price span {
    border: none;
    background: transparent;
}

.first select{
    border: solid 3px var(--blue2);
    width: 7em;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12em;
    padding: 8px;
    outline: none;
    background-color: var(--white);
    color: var(--black);
}

.first select option{
    color: var(--black);
    background-color: var(--white);
}


.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px var(--blue2);
    border-radius: 10px;
    padding: 0 15px 0 0;
    width: 12em;
}

.time input {
    background: transparent;
    flex: 1;
    border: none;
    color: var(--black);
    outline: none;
    width: 5em;
}

.time span {
    border: none;
    background: transparent;
}

.third{
    justify-content: space-between;
}

.city{
    width: 12em;
}

.date{
    width: 12em;
}

.hour{
    width: 8em;
}

.price{
    width: 8em;
}

.third button{
    padding: 16px 22px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--green);
    border: none;
    margin-right: 2em;
}

.third button:hover{
    background-color: var(--green2);
}

.third button:active{
    background-color: var(--green3);
}

.close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close img{
    width: 30px;
    height: 10px;
    margin-right: 2em;
    cursor: pointer;
}

.add{
    margin-bottom: 2em;
}

.card_double{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    padding: 20px;
    border: 4px solid var(--blue2);
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 2.5em;

}

.visible{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 500ms;
}

.title img{
    width: 30px;
    filter: invert(72%) sepia(24%) saturate(5981%) hue-rotate(192deg) brightness(98%) contrast(93%);
}

.title{
    display: flex;
    align-items: center;
    color: var(--blue2);
    font-size: 1.5em;
    font-weight: 700;
}

.column1{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;
}

.coming h2{
    margin-bottom: 1.2em;
}

.column2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.column2 img{
    align-self: flex-end;
    width: 20px;
    height: auto;
    filter: invert(67%) sepia(63%) saturate(539%) hue-rotate(28deg) brightness(94%) contrast(86%);
}

.card_double span{
    font-weight: 500;
}

.players{
    display: none
    
}

.card_double .visible.active{
    margin-bottom: 2em;
    transition: 500ms;
}

.players.active{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-auto-rows: minmax(auto, auto);
    justify-items: center;
    transition: 500ms;
}

.arrow{
    align-self: flex-end;
    transition: 500ms;
    cursor: pointer;
}

.arrow.active{
    transform: rotate(180deg);
    transition: 500ms;
}

.alert{
    background-color: rgba(0, 128, 0, 0.51);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 10px;
    color: var(--black);
    font-weight: 500;
}
.error{
    background-color: rgba(247, 36, 8, 0.958);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 10px;
    color: var(--black);
    font-weight: 500;
}